<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="TargetFolder">
      <Component Id="Id_AutoMapper_dll_2073336869_WixComponent" Guid="DB0F488C-800C-474C-942F-78066D0101A7" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1515684953_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1612920778_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_AutoMapper_dll_1066544731_WixFile" Name="AutoMapper.dll" KeyPath="yes" Source="C:\Dev\github\LogViewer\bin\Release\github.trondr.LogViewer\Libs\AutoMapper.dll" />
      </Component>
      <Component Id="Id_Castle_Core_dll_468490603_WixComponent" Guid="C8A696BB-6B9A-4F8F-85DB-53D623F8708B" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1298757625_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1085309185_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Castle_Core_dll_292383835_WixFile" Name="Castle.Core.dll" KeyPath="yes" Source="C:\Dev\github\LogViewer\bin\Release\github.trondr.LogViewer\Libs\Castle.Core.dll" />
      </Component>
      <Component Id="Id_Castle_Windsor_dll_2037597604_WixComponent" Guid="C6EFBE70-9997-4A8B-BDA9-699F1878D12B" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_427685727_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1771424464_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Castle_Windsor_dll_261275991_WixFile" Name="Castle.Windsor.dll" KeyPath="yes" Source="C:\Dev\github\LogViewer\bin\Release\github.trondr.LogViewer\Libs\Castle.Windsor.dll" />
      </Component>
      <Component Id="Id_Common_Logging_Core_dll_1852194596_WixComponent" Guid="39E2CCB6-2E17-4D9A-98D7-2C6C16FD4D74" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1749518019_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_795771392_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Common_Logging_Core_dll_715061081_WixFile" Name="Common.Logging.Core.dll" KeyPath="yes" Source="C:\Dev\github\LogViewer\bin\Release\github.trondr.LogViewer\Libs\Common.Logging.Core.dll" />
      </Component>
      <Component Id="Id_Common_Logging_dll_108033573_WixComponent" Guid="520FFF4D-E472-4309-9A25-3BEE098203D3" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_934305340_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1782798671_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Common_Logging_dll_1810335894_WixFile" Name="Common.Logging.dll" KeyPath="yes" Source="C:\Dev\github\LogViewer\bin\Release\github.trondr.LogViewer\Libs\Common.Logging.dll" />
      </Component>
      <Component Id="Id_Common_Logging_Log4Net1213_dll_1201666686_WixComponent" Guid="4A8720BC-B042-427F-AF64-37751217DF3C" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1990225941_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1335662763_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Common_Logging_Log4Net1213_dll_2068300515_WixFile" Name="Common.Logging.Log4Net1213.dll" KeyPath="yes" Source="C:\Dev\github\LogViewer\bin\Release\github.trondr.LogViewer\Libs\Common.Logging.Log4Net1213.dll" />
      </Component>
      <Component Id="Id_log4net_dll_168139241_WixComponent" Guid="C2C63F82-71BB-4BB1-AB2D-874279A2E11B" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1111718899_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_337549511_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_log4net_dll_2074683259_WixFile" Name="log4net.dll" KeyPath="yes" Source="C:\Dev\github\LogViewer\bin\Release\github.trondr.LogViewer\Libs\log4net.dll" />
      </Component>
      <Component Id="Id_NCmdLiner_dll_744252949_WixComponent" Guid="AF92EF91-C445-4620-95E7-AAB1DB40E4C0" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1909674146_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_619235775_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_NCmdLiner_dll_2097958157_WixFile" Name="NCmdLiner.dll" KeyPath="yes" Source="C:\Dev\github\LogViewer\bin\Release\github.trondr.LogViewer\Libs\NCmdLiner.dll" />
      </Component>
      <Component Id="Id_Newtonsoft_Json_dll_2087882471_WixComponent" Guid="C8E3C665-16CF-4E64-942F-5FB8B94C6CA1" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_682128131_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1082955353_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Newtonsoft_Json_dll_1327631167_WixFile" Name="Newtonsoft.Json.dll" KeyPath="yes" Source="C:\Dev\github\LogViewer\bin\Release\github.trondr.LogViewer\Libs\Newtonsoft.Json.dll" />
      </Component>
      <Component Id="Id_Xceed_Wpf_AvalonDock_dll_666382288_WixComponent" Guid="DD3ABE75-9289-44B2-83F0-3F00877DA08B" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_340413745_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1930433898_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Xceed_Wpf_AvalonDock_dll_1916250225_WixFile" Name="Xceed.Wpf.AvalonDock.dll" KeyPath="yes" Source="C:\Dev\github\LogViewer\bin\Release\github.trondr.LogViewer\Libs\Xceed.Wpf.AvalonDock.dll" />
      </Component>
      <Component Id="Id_Xceed_Wpf_AvalonDock_Themes_Aero_dll_1709093740_WixComponent" Guid="398EB359-A116-4885-869F-665647485A41" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_385244833_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1811182481_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Xceed_Wpf_AvalonDock_Themes_Aero_dll_1926335319_WixFile" Name="Xceed.Wpf.AvalonDock.Themes.Aero.dll" KeyPath="yes" Source="C:\Dev\github\LogViewer\bin\Release\github.trondr.LogViewer\Libs\Xceed.Wpf.AvalonDock.Themes.Aero.dll" />
      </Component>
      <Component Id="Id_Xceed_Wpf_AvalonDock_Themes_Metro_dll_275566648_WixComponent" Guid="49AC6606-563E-4D45-AD46-7C526E9DFCE0" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1328045399_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1091673559_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Xceed_Wpf_AvalonDock_Themes_Metro_dll_1957554749_WixFile" Name="Xceed.Wpf.AvalonDock.Themes.Metro.dll" KeyPath="yes" Source="C:\Dev\github\LogViewer\bin\Release\github.trondr.LogViewer\Libs\Xceed.Wpf.AvalonDock.Themes.Metro.dll" />
      </Component>
      <Component Id="Id_Xceed_Wpf_AvalonDock_Themes_VS2010_dll_851763409_WixComponent" Guid="B74A9D7A-A4CB-4D1C-9AFB-772DC707EB2E" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1449756802_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_592646086_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Xceed_Wpf_AvalonDock_Themes_VS2010_dll_874700038_WixFile" Name="Xceed.Wpf.AvalonDock.Themes.VS2010.dll" KeyPath="yes" Source="C:\Dev\github\LogViewer\bin\Release\github.trondr.LogViewer\Libs\Xceed.Wpf.AvalonDock.Themes.VS2010.dll" />
      </Component>
      <Component Id="Id_Xceed_Wpf_DataGrid_dll_94343394_WixComponent" Guid="F3B86427-1E3B-4D5C-B805-D2A91B49CA2F" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_909364409_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1480764288_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Xceed_Wpf_DataGrid_dll_83110927_WixFile" Name="Xceed.Wpf.DataGrid.dll" KeyPath="yes" Source="C:\Dev\github\LogViewer\bin\Release\github.trondr.LogViewer\Libs\Xceed.Wpf.DataGrid.dll" />
      </Component>
      <Component Id="Id_Xceed_Wpf_Toolkit_dll_180022190_WixComponent" Guid="12B9DE3A-C228-4A69-AC1E-A4165387FB5E" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1692103910_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_898405490_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Xceed_Wpf_Toolkit_dll_1504255351_WixFile" Name="Xceed.Wpf.Toolkit.dll" KeyPath="yes" Source="C:\Dev\github\LogViewer\bin\Release\github.trondr.LogViewer\Libs\Xceed.Wpf.Toolkit.dll" />
      </Component>
      <Directory Id="Id_NMultiTool_961208114_WixDirectory" Name="NMultiTool">
        <Component Id="Id_Castle_Core_dll_1158109573_WixComponent" Guid="888621FF-BDB0-46F6-B6A2-11FD88E71F40" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1695614533_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_127923458_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Castle_Core_dll_1955933599_WixFile" Name="Castle.Core.dll" KeyPath="yes" Source="C:\Dev\github\LogViewer\bin\Release\github.trondr.LogViewer\Libs\NMultiTool\Castle.Core.dll" />
        </Component>
        <Component Id="Id_Castle_Windsor_dll_1820949954_WixComponent" Guid="4B6980F7-DEB8-4417-A929-99D51A9DCF4E" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_320877167_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1170066465_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Castle_Windsor_dll_666562666_WixFile" Name="Castle.Windsor.dll" KeyPath="yes" Source="C:\Dev\github\LogViewer\bin\Release\github.trondr.LogViewer\Libs\NMultiTool\Castle.Windsor.dll" />
        </Component>
        <Component Id="Id_Common_Logging_Core_dll_1615623872_WixComponent" Guid="E867F759-9993-47F6-ACE0-A083BEBA92CC" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_48678793_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1915103475_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_Core_dll_1151355089_WixFile" Name="Common.Logging.Core.dll" KeyPath="yes" Source="C:\Dev\github\LogViewer\bin\Release\github.trondr.LogViewer\Libs\NMultiTool\Common.Logging.Core.dll" />
        </Component>
        <Component Id="Id_Common_Logging_dll_2014032093_WixComponent" Guid="B164A6BD-F817-4707-8A36-40244FD2129C" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_101242154_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_816421853_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_dll_179043460_WixFile" Name="Common.Logging.dll" KeyPath="yes" Source="C:\Dev\github\LogViewer\bin\Release\github.trondr.LogViewer\Libs\NMultiTool\Common.Logging.dll" />
        </Component>
        <Component Id="Id_Common_Logging_Log4Net1213_dll_1556811091_WixComponent" Guid="94646EE5-CDF9-4FE4-859C-DB99F558F1DE" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1792733867_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_987577489_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_Log4Net1213_dll_20045340_WixFile" Name="Common.Logging.Log4Net1213.dll" KeyPath="yes" Source="C:\Dev\github\LogViewer\bin\Release\github.trondr.LogViewer\Libs\NMultiTool\Common.Logging.Log4Net1213.dll" />
        </Component>
        <Component Id="Id_log4net_dll_527478409_WixComponent" Guid="6297C240-E23C-4C18-B0DE-8A7ECCEA842B" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1222919850_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1441979794_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_log4net_dll_1317028060_WixFile" Name="log4net.dll" KeyPath="yes" Source="C:\Dev\github\LogViewer\bin\Release\github.trondr.LogViewer\Libs\NMultiTool\log4net.dll" />
        </Component>
        <Component Id="Id_Microsoft_Web_XmlTransform_dll_1892019384_WixComponent" Guid="0114E576-5BE7-4CCA-AE35-589C397F1B06" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_2003614763_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1178518062_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Microsoft_Web_XmlTransform_dll_1348847490_WixFile" Name="Microsoft.Web.XmlTransform.dll" KeyPath="yes" Source="C:\Dev\github\LogViewer\bin\Release\github.trondr.LogViewer\Libs\NMultiTool\Microsoft.Web.XmlTransform.dll" />
        </Component>
        <Component Id="Id_NCmdLiner_dll_999844425_WixComponent" Guid="5E409EAC-786B-412A-BA64-47451448CFE8" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1147608977_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1121762025_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NCmdLiner_dll_1589491902_WixFile" Name="NCmdLiner.dll" KeyPath="yes" Source="C:\Dev\github\LogViewer\bin\Release\github.trondr.LogViewer\Libs\NMultiTool\NCmdLiner.dll" />
        </Component>
        <Component Id="Id_Newtonsoft_Json_dll_426178547_WixComponent" Guid="02631F8B-A82E-4060-BC18-28C38AD25D24" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_955042111_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_550984167_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Newtonsoft_Json_dll_837113947_WixFile" Name="Newtonsoft.Json.dll" KeyPath="yes" Source="C:\Dev\github\LogViewer\bin\Release\github.trondr.LogViewer\Libs\NMultiTool\Newtonsoft.Json.dll" />
        </Component>
        <Component Id="Id_NMultiTool_exe_1683259023_WixComponent" Guid="499B462D-5323-4679-9FCC-F2590D89C140" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_2117885367_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_602100341_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_exe_1007168232_WixFile" Name="NMultiTool.exe" KeyPath="yes" Source="C:\Dev\github\LogViewer\bin\Release\github.trondr.LogViewer\Libs\NMultiTool\NMultiTool.exe" />
        </Component>
        <Component Id="Id_NMultiTool_exe_config_2069090741_WixComponent" Guid="765AA9F2-F9C5-48A0-9775-1A89F220BDBB" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1290992083_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1383623184_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_exe_config_1401078009_WixFile" Name="NMultiTool.exe.config" KeyPath="yes" Source="C:\Dev\github\LogViewer\bin\Release\github.trondr.LogViewer\Libs\NMultiTool\NMultiTool.exe.config" />
        </Component>
        <Component Id="Id_NMultiTool_Gui_exe_825026258_WixComponent" Guid="B83CC0A1-93F3-46E9-9F12-F730839EC776" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1870828596_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_227794948_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_Gui_exe_808122255_WixFile" Name="NMultiTool.Gui.exe" KeyPath="yes" Source="C:\Dev\github\LogViewer\bin\Release\github.trondr.LogViewer\Libs\NMultiTool\NMultiTool.Gui.exe" />
        </Component>
        <Component Id="Id_NMultiTool_Gui_exe_config_664342435_WixComponent" Guid="2E647807-1D46-4CBE-B24D-6AD7794F77D5" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_2051551115_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_770694746_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_Gui_exe_config_2046853690_WixFile" Name="NMultiTool.Gui.exe.config" KeyPath="yes" Source="C:\Dev\github\LogViewer\bin\Release\github.trondr.LogViewer\Libs\NMultiTool\NMultiTool.Gui.exe.config" />
        </Component>
        <Component Id="Id_NMultiTool_Gui_pdb_2058311648_WixComponent" Guid="0526B45A-54C4-402D-A527-431FE7C15CF1" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1484210011_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_433729705_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_Gui_pdb_2082673370_WixFile" Name="NMultiTool.Gui.pdb" KeyPath="yes" Source="C:\Dev\github\LogViewer\bin\Release\github.trondr.LogViewer\Libs\NMultiTool\NMultiTool.Gui.pdb" />
        </Component>
        <Component Id="Id_NMultiTool_Library_dll_253634739_WixComponent" Guid="96103271-A2C3-47BD-9E3F-61892205C682" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_958379045_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_63914215_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_Library_dll_1964818838_WixFile" Name="NMultiTool.Library.dll" KeyPath="yes" Source="C:\Dev\github\LogViewer\bin\Release\github.trondr.LogViewer\Libs\NMultiTool\NMultiTool.Library.dll" />
        </Component>
        <Component Id="Id_NMultiTool_Library_pdb_1289842752_WixComponent" Guid="936EADD2-FE55-4581-9EAA-D8EE6004E4EB" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1968702622_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1814201888_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_Library_pdb_468014895_WixFile" Name="NMultiTool.Library.pdb" KeyPath="yes" Source="C:\Dev\github\LogViewer\bin\Release\github.trondr.LogViewer\Libs\NMultiTool\NMultiTool.Library.pdb" />
        </Component>
        <Component Id="Id_NMultiTool_pdb_1074400415_WixComponent" Guid="0541EA9A-0A0B-4389-ACFD-9C8732CBB1B3" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_325611573_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_725176542_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_pdb_1058989982_WixFile" Name="NMultiTool.pdb" KeyPath="yes" Source="C:\Dev\github\LogViewer\bin\Release\github.trondr.LogViewer\Libs\NMultiTool\NMultiTool.pdb" />
        </Component>
        <Component Id="Id_NuGet_Core_dll_1697741634_WixComponent" Guid="F14E49BC-5C67-4FE2-B253-61015855346F" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_2126791553_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_643268084_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NuGet_Core_dll_1586409371_WixFile" Name="NuGet.Core.dll" KeyPath="yes" Source="C:\Dev\github\LogViewer\bin\Release\github.trondr.LogViewer\Libs\NMultiTool\NuGet.Core.dll" />
        </Component>
      </Directory>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="Components_WiXComponentGroup">
      <ComponentRef Id="Id_AutoMapper_dll_2073336869_WixComponent" />
      <ComponentRef Id="Id_Castle_Core_dll_468490603_WixComponent" />
      <ComponentRef Id="Id_Castle_Windsor_dll_2037597604_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Core_dll_1852194596_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_dll_108033573_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Log4Net1213_dll_1201666686_WixComponent" />
      <ComponentRef Id="Id_log4net_dll_168139241_WixComponent" />
      <ComponentRef Id="Id_NCmdLiner_dll_744252949_WixComponent" />
      <ComponentRef Id="Id_Newtonsoft_Json_dll_2087882471_WixComponent" />
      <ComponentRef Id="Id_Xceed_Wpf_AvalonDock_dll_666382288_WixComponent" />
      <ComponentRef Id="Id_Xceed_Wpf_AvalonDock_Themes_Aero_dll_1709093740_WixComponent" />
      <ComponentRef Id="Id_Xceed_Wpf_AvalonDock_Themes_Metro_dll_275566648_WixComponent" />
      <ComponentRef Id="Id_Xceed_Wpf_AvalonDock_Themes_VS2010_dll_851763409_WixComponent" />
      <ComponentRef Id="Id_Xceed_Wpf_DataGrid_dll_94343394_WixComponent" />
      <ComponentRef Id="Id_Xceed_Wpf_Toolkit_dll_180022190_WixComponent" />
      <ComponentRef Id="Id_Castle_Core_dll_1158109573_WixComponent" />
      <ComponentRef Id="Id_Castle_Windsor_dll_1820949954_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Core_dll_1615623872_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_dll_2014032093_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Log4Net1213_dll_1556811091_WixComponent" />
      <ComponentRef Id="Id_log4net_dll_527478409_WixComponent" />
      <ComponentRef Id="Id_Microsoft_Web_XmlTransform_dll_1892019384_WixComponent" />
      <ComponentRef Id="Id_NCmdLiner_dll_999844425_WixComponent" />
      <ComponentRef Id="Id_Newtonsoft_Json_dll_426178547_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_exe_1683259023_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_exe_config_2069090741_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_Gui_exe_825026258_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_Gui_exe_config_664342435_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_Gui_pdb_2058311648_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_Library_dll_253634739_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_Library_pdb_1289842752_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_pdb_1074400415_WixComponent" />
      <ComponentRef Id="Id_NuGet_Core_dll_1697741634_WixComponent" />
    </ComponentGroup>
  </Fragment>
</Wix>