<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="TargetFolder">
      <Component Id="Id_AutoMapper_dll_246962563_WixComponent" Guid="7D1CC532-E000-4ABE-9B63-862E3E3D318F" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_903213977_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_2014715215_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_AutoMapper_dll_1248470266_WixFile" Name="AutoMapper.dll" KeyPath="yes" Source="C:\Dev\github-trondr\LogViewer\bin\Release\LogViewer\Libs\AutoMapper.dll" />
      </Component>
      <Component Id="Id_Castle_Core_dll_911262699_WixComponent" Guid="47F8F751-DC93-4BA9-817B-15E785F1F3A9" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_333045238_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_671129632_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Castle_Core_dll_1768212655_WixFile" Name="Castle.Core.dll" KeyPath="yes" Source="C:\Dev\github-trondr\LogViewer\bin\Release\LogViewer\Libs\Castle.Core.dll" />
      </Component>
      <Component Id="Id_Castle_Windsor_dll_913204735_WixComponent" Guid="21826A92-6809-45D0-BD65-C8965A0E15DF" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1395015093_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_882485205_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Castle_Windsor_dll_1402649877_WixFile" Name="Castle.Windsor.dll" KeyPath="yes" Source="C:\Dev\github-trondr\LogViewer\bin\Release\LogViewer\Libs\Castle.Windsor.dll" />
      </Component>
      <Component Id="Id_Common_Logging_Core_dll_735571845_WixComponent" Guid="C963A6DB-6DDF-41D0-83FC-A040501F89A2" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_169291872_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_2059611077_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Common_Logging_Core_dll_295283192_WixFile" Name="Common.Logging.Core.dll" KeyPath="yes" Source="C:\Dev\github-trondr\LogViewer\bin\Release\LogViewer\Libs\Common.Logging.Core.dll" />
      </Component>
      <Component Id="Id_Common_Logging_dll_1195735368_WixComponent" Guid="7401B858-9B99-417C-AFCE-7F3A74F7FA4D" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_847816377_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1878829050_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Common_Logging_dll_1766510092_WixFile" Name="Common.Logging.dll" KeyPath="yes" Source="C:\Dev\github-trondr\LogViewer\bin\Release\LogViewer\Libs\Common.Logging.dll" />
      </Component>
      <Component Id="Id_Common_Logging_Log4Net1213_dll_1655171412_WixComponent" Guid="98D03E4C-8E55-405B-AF50-E85B366EA53B" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_51848362_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1236973488_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Common_Logging_Log4Net1213_dll_1065680698_WixFile" Name="Common.Logging.Log4Net1213.dll" KeyPath="yes" Source="C:\Dev\github-trondr\LogViewer\bin\Release\LogViewer\Libs\Common.Logging.Log4Net1213.dll" />
      </Component>
      <Component Id="Id_GalaSoft_MvvmLight_dll_138785497_WixComponent" Guid="3FF2AA4B-6791-48F5-8DA5-14CEA44ED9C2" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_2010802161_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_2021402661_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_GalaSoft_MvvmLight_dll_1645288656_WixFile" Name="GalaSoft.MvvmLight.dll" KeyPath="yes" Source="C:\Dev\github-trondr\LogViewer\bin\Release\LogViewer\Libs\GalaSoft.MvvmLight.dll" />
      </Component>
      <Component Id="Id_GalaSoft_MvvmLight_Extras_dll_89060774_WixComponent" Guid="B2AE9298-4D82-4B93-8E51-CBBAFEF73A5B" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1022147091_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1960379229_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_GalaSoft_MvvmLight_Extras_dll_959756225_WixFile" Name="GalaSoft.MvvmLight.Extras.dll" KeyPath="yes" Source="C:\Dev\github-trondr\LogViewer\bin\Release\LogViewer\Libs\GalaSoft.MvvmLight.Extras.dll" />
      </Component>
      <Component Id="Id_GalaSoft_MvvmLight_Platform_dll_83374652_WixComponent" Guid="8D9D22F5-297F-490C-AC85-B754001BE68E" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1173503293_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_2081274151_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_GalaSoft_MvvmLight_Platform_dll_644539777_WixFile" Name="GalaSoft.MvvmLight.Platform.dll" KeyPath="yes" Source="C:\Dev\github-trondr\LogViewer\bin\Release\LogViewer\Libs\GalaSoft.MvvmLight.Platform.dll" />
      </Component>
      <Component Id="Id_log4net_dll_594477914_WixComponent" Guid="49F91B34-9CEE-4860-90F8-F3E4ECCC45A1" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_451047215_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1652933600_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_log4net_dll_1193957129_WixFile" Name="log4net.dll" KeyPath="yes" Source="C:\Dev\github-trondr\LogViewer\bin\Release\LogViewer\Libs\log4net.dll" />
      </Component>
      <Component Id="Id_Microsoft_Practices_ServiceLocation_dll_33940094_WixComponent" Guid="68583F7F-CD01-4285-8A15-5496E95DEC5C" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1141429106_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_599686115_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Microsoft_Practices_ServiceLocation_dll_145883038_WixFile" Name="Microsoft.Practices.ServiceLocation.dll" KeyPath="yes" Source="C:\Dev\github-trondr\LogViewer\bin\Release\LogViewer\Libs\Microsoft.Practices.ServiceLocation.dll" />
      </Component>
      <Component Id="Id_NCmdLiner_dll_516683663_WixComponent" Guid="ACBD7195-F5D0-4AD5-965C-BB69C3789AEB" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1974639822_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_684305442_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_NCmdLiner_dll_651208444_WixFile" Name="NCmdLiner.dll" KeyPath="yes" Source="C:\Dev\github-trondr\LogViewer\bin\Release\LogViewer\Libs\NCmdLiner.dll" />
      </Component>
      <Component Id="Id_Newtonsoft_Json_dll_549039873_WixComponent" Guid="461E4112-1B8F-4FAF-A7C4-26979749A88A" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1288917568_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1454176997_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Newtonsoft_Json_dll_629425830_WixFile" Name="Newtonsoft.Json.dll" KeyPath="yes" Source="C:\Dev\github-trondr\LogViewer\bin\Release\LogViewer\Libs\Newtonsoft.Json.dll" />
      </Component>
      <Component Id="Id_System_Windows_Interactivity_dll_1204746346_WixComponent" Guid="7580F61D-F2BD-4122-99D8-E496EF927A6D" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1168308204_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_822995450_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_System_Windows_Interactivity_dll_195114201_WixFile" Name="System.Windows.Interactivity.dll" KeyPath="yes" Source="C:\Dev\github-trondr\LogViewer\bin\Release\LogViewer\Libs\System.Windows.Interactivity.dll" />
      </Component>
      <Directory Id="Id_NMultiTool_1813724136_WixDirectory" Name="NMultiTool">
        <Component Id="Id_Castle_Core_dll_949034517_WixComponent" Guid="516EC81C-2AA2-418C-9E12-3DF7F2425988" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1109684769_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1047944185_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Castle_Core_dll_459126224_WixFile" Name="Castle.Core.dll" KeyPath="yes" Source="C:\Dev\github-trondr\LogViewer\bin\Release\LogViewer\Libs\NMultiTool\Castle.Core.dll" />
        </Component>
        <Component Id="Id_Castle_Windsor_dll_1173324623_WixComponent" Guid="50219AB4-C9D9-4CA6-B0C6-8E88614BAFFE" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1679151881_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_2038541291_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Castle_Windsor_dll_1582119511_WixFile" Name="Castle.Windsor.dll" KeyPath="yes" Source="C:\Dev\github-trondr\LogViewer\bin\Release\LogViewer\Libs\NMultiTool\Castle.Windsor.dll" />
        </Component>
        <Component Id="Id_Common_Logging_Core_dll_2070212627_WixComponent" Guid="ED8F4873-94E1-450D-8224-53C79DCC036A" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1319275225_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1709552199_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_Core_dll_235501368_WixFile" Name="Common.Logging.Core.dll" KeyPath="yes" Source="C:\Dev\github-trondr\LogViewer\bin\Release\LogViewer\Libs\NMultiTool\Common.Logging.Core.dll" />
        </Component>
        <Component Id="Id_Common_Logging_dll_1415071300_WixComponent" Guid="CC103D9D-3562-4749-BE8F-2EE65AC995B0" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1848288925_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_744688153_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_dll_1342366424_WixFile" Name="Common.Logging.dll" KeyPath="yes" Source="C:\Dev\github-trondr\LogViewer\bin\Release\LogViewer\Libs\NMultiTool\Common.Logging.dll" />
        </Component>
        <Component Id="Id_Common_Logging_Log4Net1213_dll_684871921_WixComponent" Guid="F1AB5E1E-3327-4EB1-8D3B-FC12FDBAB04C" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1732569998_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_513742306_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_Log4Net1213_dll_1599645894_WixFile" Name="Common.Logging.Log4Net1213.dll" KeyPath="yes" Source="C:\Dev\github-trondr\LogViewer\bin\Release\LogViewer\Libs\NMultiTool\Common.Logging.Log4Net1213.dll" />
        </Component>
        <Component Id="Id_log4net_dll_1091090450_WixComponent" Guid="9E4AC07F-B19C-405D-A30C-62BF1E43A277" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_548997035_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_311629322_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_log4net_dll_1326496719_WixFile" Name="log4net.dll" KeyPath="yes" Source="C:\Dev\github-trondr\LogViewer\bin\Release\LogViewer\Libs\NMultiTool\log4net.dll" />
        </Component>
        <Component Id="Id_Microsoft_Web_XmlTransform_dll_1370194217_WixComponent" Guid="6BF66EC1-E476-4EA7-A775-84378899B508" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1096248783_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_947626853_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Microsoft_Web_XmlTransform_dll_1715453741_WixFile" Name="Microsoft.Web.XmlTransform.dll" KeyPath="yes" Source="C:\Dev\github-trondr\LogViewer\bin\Release\LogViewer\Libs\NMultiTool\Microsoft.Web.XmlTransform.dll" />
        </Component>
        <Component Id="Id_NCmdLiner_dll_1330953399_WixComponent" Guid="9C83E046-C31A-46F2-8437-7EE31CB12BF5" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1902493526_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1062550095_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NCmdLiner_dll_350507843_WixFile" Name="NCmdLiner.dll" KeyPath="yes" Source="C:\Dev\github-trondr\LogViewer\bin\Release\LogViewer\Libs\NMultiTool\NCmdLiner.dll" />
        </Component>
        <Component Id="Id_Newtonsoft_Json_dll_1886159950_WixComponent" Guid="A2CB8F55-ACA4-4777-9F20-BC53BFA7ADC1" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_978299288_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1792927044_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Newtonsoft_Json_dll_1488846093_WixFile" Name="Newtonsoft.Json.dll" KeyPath="yes" Source="C:\Dev\github-trondr\LogViewer\bin\Release\LogViewer\Libs\NMultiTool\Newtonsoft.Json.dll" />
        </Component>
        <Component Id="Id_NMultiTool_exe_604989415_WixComponent" Guid="DCE074C6-9715-4726-9FB1-3AE06C580374" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_734830905_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1008099118_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_exe_1609760872_WixFile" Name="NMultiTool.exe" KeyPath="yes" Source="C:\Dev\github-trondr\LogViewer\bin\Release\LogViewer\Libs\NMultiTool\NMultiTool.exe" />
        </Component>
        <Component Id="Id_NMultiTool_exe_config_708628471_WixComponent" Guid="46A45573-919A-4E23-9234-952E46652869" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_711247174_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_593954683_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_exe_config_655364597_WixFile" Name="NMultiTool.exe.config" KeyPath="yes" Source="C:\Dev\github-trondr\LogViewer\bin\Release\LogViewer\Libs\NMultiTool\NMultiTool.exe.config" />
        </Component>
        <Component Id="Id_NMultiTool_Gui_exe_1122236890_WixComponent" Guid="E306B27E-6D75-45E6-8C2B-84030898D692" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_415707076_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1281452220_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_Gui_exe_1588112290_WixFile" Name="NMultiTool.Gui.exe" KeyPath="yes" Source="C:\Dev\github-trondr\LogViewer\bin\Release\LogViewer\Libs\NMultiTool\NMultiTool.Gui.exe" />
        </Component>
        <Component Id="Id_NMultiTool_Gui_exe_config_709488844_WixComponent" Guid="AF512C6A-2E4C-48EF-B966-C5CAA889F308" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1434543053_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_519874425_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_Gui_exe_config_1583221853_WixFile" Name="NMultiTool.Gui.exe.config" KeyPath="yes" Source="C:\Dev\github-trondr\LogViewer\bin\Release\LogViewer\Libs\NMultiTool\NMultiTool.Gui.exe.config" />
        </Component>
        <Component Id="Id_NMultiTool_Gui_pdb_309253144_WixComponent" Guid="4EC29FCA-0E36-43F6-A4C1-EC8D367EF39C" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_742951954_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_722633686_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_Gui_pdb_400037482_WixFile" Name="NMultiTool.Gui.pdb" KeyPath="yes" Source="C:\Dev\github-trondr\LogViewer\bin\Release\LogViewer\Libs\NMultiTool\NMultiTool.Gui.pdb" />
        </Component>
        <Component Id="Id_NMultiTool_Library_dll_798055447_WixComponent" Guid="8912924D-F6D8-4169-A536-307868670714" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1868931113_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1236415654_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_Library_dll_77075840_WixFile" Name="NMultiTool.Library.dll" KeyPath="yes" Source="C:\Dev\github-trondr\LogViewer\bin\Release\LogViewer\Libs\NMultiTool\NMultiTool.Library.dll" />
        </Component>
        <Component Id="Id_NMultiTool_Library_pdb_731525028_WixComponent" Guid="76FC9B31-F347-4B02-8B72-C48AFF466E0D" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_323087550_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_251166111_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_Library_pdb_167719101_WixFile" Name="NMultiTool.Library.pdb" KeyPath="yes" Source="C:\Dev\github-trondr\LogViewer\bin\Release\LogViewer\Libs\NMultiTool\NMultiTool.Library.pdb" />
        </Component>
        <Component Id="Id_NMultiTool_pdb_256725130_WixComponent" Guid="C47D0901-5594-4064-9B6F-6D2B12A7C49A" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1359044356_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_496825065_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_pdb_436772012_WixFile" Name="NMultiTool.pdb" KeyPath="yes" Source="C:\Dev\github-trondr\LogViewer\bin\Release\LogViewer\Libs\NMultiTool\NMultiTool.pdb" />
        </Component>
        <Component Id="Id_NuGet_Core_dll_55361881_WixComponent" Guid="5D448719-B999-40D7-9632-1B692125602C" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1403325707_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_737377009_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NuGet_Core_dll_2097524663_WixFile" Name="NuGet.Core.dll" KeyPath="yes" Source="C:\Dev\github-trondr\LogViewer\bin\Release\LogViewer\Libs\NMultiTool\NuGet.Core.dll" />
        </Component>
      </Directory>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="Components_WiXComponentGroup">
      <ComponentRef Id="Id_AutoMapper_dll_246962563_WixComponent" />
      <ComponentRef Id="Id_Castle_Core_dll_911262699_WixComponent" />
      <ComponentRef Id="Id_Castle_Windsor_dll_913204735_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Core_dll_735571845_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_dll_1195735368_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Log4Net1213_dll_1655171412_WixComponent" />
      <ComponentRef Id="Id_GalaSoft_MvvmLight_dll_138785497_WixComponent" />
      <ComponentRef Id="Id_GalaSoft_MvvmLight_Extras_dll_89060774_WixComponent" />
      <ComponentRef Id="Id_GalaSoft_MvvmLight_Platform_dll_83374652_WixComponent" />
      <ComponentRef Id="Id_log4net_dll_594477914_WixComponent" />
      <ComponentRef Id="Id_Microsoft_Practices_ServiceLocation_dll_33940094_WixComponent" />
      <ComponentRef Id="Id_NCmdLiner_dll_516683663_WixComponent" />
      <ComponentRef Id="Id_Newtonsoft_Json_dll_549039873_WixComponent" />
      <ComponentRef Id="Id_System_Windows_Interactivity_dll_1204746346_WixComponent" />
      <ComponentRef Id="Id_Castle_Core_dll_949034517_WixComponent" />
      <ComponentRef Id="Id_Castle_Windsor_dll_1173324623_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Core_dll_2070212627_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_dll_1415071300_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Log4Net1213_dll_684871921_WixComponent" />
      <ComponentRef Id="Id_log4net_dll_1091090450_WixComponent" />
      <ComponentRef Id="Id_Microsoft_Web_XmlTransform_dll_1370194217_WixComponent" />
      <ComponentRef Id="Id_NCmdLiner_dll_1330953399_WixComponent" />
      <ComponentRef Id="Id_Newtonsoft_Json_dll_1886159950_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_exe_604989415_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_exe_config_708628471_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_Gui_exe_1122236890_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_Gui_exe_config_709488844_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_Gui_pdb_309253144_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_Library_dll_798055447_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_Library_pdb_731525028_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_pdb_256725130_WixComponent" />
      <ComponentRef Id="Id_NuGet_Core_dll_55361881_WixComponent" />
    </ComponentGroup>
  </Fragment>
</Wix>