<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\..\src\github.trondr.LogViewer.Library\packages.config" />
  <repository path="..\..\src\github.trondr.LogViewer.Tests\packages.config" />
  <repository path="..\..\src\github.trondr.LogViewer\packages.config" />
</repositories>