<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LogViewer.Library.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LogViewer.Library.Properties.Settings>
            <setting name="DebugColor" serializeAs="String">
                <value>#FF20B2AA</value>
            </setting>
            <setting name="TraceColor" serializeAs="String">
                <value>#FFA9A9A9</value>
            </setting>
            <setting name="InfoColor" serializeAs="String">
                <value>#FF0000FF</value>
            </setting>
            <setting name="WarnColor" serializeAs="String">
                <value>#FFFFA07A</value>
            </setting>
            <setting name="ErrorColor" serializeAs="String">
                <value>#FFDB7093</value>
            </setting>
            <setting name="FatalColor" serializeAs="String">
                <value>#FFFF0000</value>
            </setting>
            <setting name="SearchFilter" serializeAs="String">
                <value />
            </setting>
            <setting name="WindowPlacement" serializeAs="String">
                <value />
            </setting>
            <setting name="SearchIsCaseSensitive" serializeAs="String">
                <value>False</value>
            </setting>
        </LogViewer.Library.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Interfaces" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1000.0" newVersion="3.0.1000.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>